<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Level2018</title>

  <meta name="description" content="Level1.ee 2018 aasta kokkuv천tte ja aastal천pusaade">
  <meta property="og:locale" content="et_EE" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="LEVEL2018" />
  <meta property="og:description" content="Level1.ee 2018 aasta kokkuv천tte ja aastal천pusaade" />
  <meta property="og:url" content="https://level1.ee/level2018" />
  <meta property="og:site_name" content="Level1" />
  <meta property="fb:admins" content="1004408904" />
  <meta property="og:image" content="https://level1.ee/level2018/assets/img/og.png" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="assets/styles/global.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46130657-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-46130657-1');
  </script>

</head>

<body>
